/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #043564;
  background-image: url("https://raw.githubusercontent.com/pururval/pururval.github.io/master/ezgif.com-gif-maker.gif");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 0 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

aaa{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
/* padding-left: 30px; */
  color:white;font-size: 2.5em;

}
aa{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 1.25em;
/*   padding-left: 30px; */
  color:white;
}
a{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-decoration: none;
  /* color: #3B94D9; */
  color:white;
  font-size: 1.25em;
}
b {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  /* color: #3B94D9; */

  text-decoration: none;
  font-size: 1.25em;


}
.center {
    position: absolute;
       text-align: left;
       width: 100%;
       height: 100%;

       top: 0%; left: 0%; bottom: 0%; right: 0%;
